
.typeBox{
    background: #fff;
    .title{
        padding: .3rem;
        text-align: center;
        background: #fff;
        border-bottom: 2px solid #fff;
        &.active{
            border-bottom: 2px solid #f00;
        }
    }
}